#container {
	display: block;
	width: 100%;
	min-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	padding-top: 100px;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	background-color: #073642;
}

#intro {
	width: 100%;
	text-align: center;
}

h1.presentation{
	font-size: 5em;
	margin-left: 40px;
	margin-right: 40px;
	text-shadow: 0px 0px 10px #268bd2;
}

div.prese2 {
	text-align: center;
	width: 500px;
	margin: 0 auto;
}

div.prese2 > h3 {
	color: #cb4b16;
	font-size: 2em;
}

#description {
	width: 800px;
	margin: 0 auto;
}

#button {
	display: block;
	width: 300px;
	height: 100px;
	margin: 0 auto;
	margin-bottom: 20px;
	background: #6db3f2;
	background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
	background: -webkit-linear-gradient(top, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
	background: linear-gradient(to bottom, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 );
}

#button h2 {
	color: white;
	font-size: 1.8em;
	position: relative;
	top: 30px;
}

a.nu, a.nu:hover, a.nu:active {
	text-decoration: none;
}