/* 1st level */

nav ul {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	padding: 0;
	margin: 0;
}

nav ul li{
	box-sizing: border-box;
	list-style: none;
	float: left;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 10%;
	text-align: center;
	border: 1px solid #268bd2;
	height: 25px;
	background-color: #073642;
	transition: .5s ease-out;
}

nav ul li:hover {
	background-color: #268bd2;
	transition: .5s ease-out;
}

nav ul li:hover > ul {
	opacity: 1;
	transform: rotateX(0deg);
	transition: .5s ease-out;	
}

nav ul li a {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #b58900;
}

nav ul li a:hover {
	color: #fdf6e3;
	text-shadow: 0px 0px 5px #eee8d5;
}

/* 2nd level */

nav ul li ul {
	display: block;
	transform: rotateX(90deg);
	opacity: 0;
}

nav ul li ul li {
	display: block;
	width: 100%;
}

nav ul li ul li a {
	color: #d33682;
}

nav ul li ul li:hover > ul.left, nav ul li ul li:hover > ul.right{
	opacity: 1;
	/*top: 0;*/
	transform: rotateX(0deg);
	transition: .5s ease-out;
}

/* 3rd level */

nav ul li ul li ul.right {
	display: block;
	width: 100%;
	margin-left: 100%;
	margin-top: -25px;
	position: relative;
	opacity: 0;
	transition: .5s ease-out;
}

nav ul li ul li ul.left {
	display: block;
	width: 100%;
	margin-left: -100%;
	margin-top: -25px;
	opacity: 0;
	position: relative;
	/*top: -50%;*/
	transform: rotateX(90deg);
	transition: .5s ease-out;
}

nav ul li ul li ul a {
	color: #dc322f;
}